/* 
font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;
 */

p {
    margin: 0px;   
}
#title {
    text-align: center;
    font-family: 'Arvo', serif;
    color: #8a8473;
}

.subtitle {
    width: 100%;
    text-align: center;
}

h1 {
    width: 100%;
}

iframe {
    width: 95%;
    margin: 10px;
    align-content: center;
}

#reverse {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.search-row {
    background: #d2cbb5;
    border-top: 3px solid #8a8473;
}

#search-bar {
    display: inline;
    justify-content: space-around;
}

.search {
    text-align: center;
    justify-content: space-around;
}

form {
    text-align: center;
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    
}

label {
    font-family: 'Lato', sans-serif;
}

.instructions {
    font-size: 12px;
    text-emphasis: italic;
}

.arrow {
    width: 20px;
    display: inline-block;
}


.test {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.gif-button {
    margin: 3px;
}

.gifAndRating-div {
    display: inline-block;
    border: 3px solid #8a8473;
    margin: 5px;
    text-align: center;
}

img:hover {
    cursor: pointer;
}

.gif-rating {
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

#gif-display {
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

body {
    background-image: url("../images/concrete-wall.png");
}

.cleared-gen {
    color: red;
}

footer {
    color: #8a8473;
    text-align: center;
    font-size: 12px;
}